# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Data folders (big/derived outputs)
data/raw/
data/processed/

# Optional: logs
*.log
